.nyc_output
.stryker-tmp
.vscode
coverage
docs
node_modules
reports
test

.eslintrc.js
.editorconfig
.eslintignore
.nycrc
.prettierrc
mocha.opts
.travis.yml
stryker.conf.js
**/*.ts
!**/*.d.ts
**/*.js.map

package-lock.json