.nyc_output/**/*.*
.stryker-tmp/**/*.*
.vscode/**/*.*
coverage/**/*.*
docs/**/*.*
node_modules/**/*.*
reports/**/*.*
test/**/*.*
src/**/*.ts
!src/**/*.d.ts
src/**/*.js.map

.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.nycrc
.prettierrc
.travis.yml
index.js.map
index.ts
mocha.opts
stryker.conf.js
tsconfig.json

package-lock.json